@import "../../fonts.module.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  background-color: black;
  padding: 40px; 
  border-radius: 20px;

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 300px;
    padding: 0 10px;
    overflow-x: auto;

    .link {
      all: unset;
      .item {
        list-style: none;
        padding: 15px 40px; 
        border-radius: 20px;
        background-color: rgb(7, 88, 7);
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          background-color: rgb(10, 112, 10);
        }

        h3 {
          text-transform: uppercase;
          font-size: 20px;
          margin: 0;
          color: white;
        }

        h2 {
          text-transform: uppercase;
          font-size: 20px;
          margin: 0;
          color: black;
        }
      }
    }
  }

  
  @media screen and (max-width: 768px) {
    padding: 30px; 
    .list {
      .link {
        .item {
          padding: 15px 20px; 
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    padding: 20px; 
    .list {
      .link {
        .item {
          padding: 15px 10px; 
        }
      }
    }
  }

  @media screen and (max-width: 320px) {
    padding: 10px; 
    .list {
      .link {
        .item {
          padding: 15px 5px; 
        }
      }
    }
  }
}
