@import "../../fonts.module.scss";

* {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh; 

    .modal {
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        background-color: black;
        padding: 90px;
        border-radius: 20px;

        h2 {
            color: white;
            // font-family: 'Roboto', sans-serif;
        }

        
        ul {
            all: unset;
            display: flex;
            flex-direction: column;
            gap: 30px;
            li {
                all: unset;
                .link {
                    all: unset;
                    button {
                        all: unset;
                        text-transform: uppercase;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                        sans-serif;
                        width: 300px;
                        color: white;
                        background-color: rgb(2, 48, 2);
                        // background-color: white;
                        padding: 10px 20px;
                        border-radius: 10px;
                        transition: 0.3s;
    
                        &:hover {
                            cursor: pointer;
                            background-color: rgb(121, 121, 121);
                        }
                    }
                }
            }
        }
    }
}
